@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff7eb3, #845ec2, #4fc3f7);
  border-radius: 6px;
}

.gradient-color, h2 {
  background: linear-gradient(90deg, #ff7eb3, #845ec2, #4fc3f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  color: black; 
  background: linear-gradient(90deg, #ff7eb3, #845ec2, #4fc3f7);
  border: none;
  border-radius: 8px; 
  padding: 0.8rem 2rem; 
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.MuiMenu-root ul{
  background-color: #343434;
  color: #fff;
}